*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.profile{
padding: 8px;
background: #257EE0;
border-radius: 100%;
margin: 15px 6px;

cursor: pointer;
margin-right: 10px;
}
nav {
    background: #091637;
    width: 100wh;
    height: 70px;
  }
  
  body {
    background: #050E25;
    overflow-y: scroll;
  }
  
  .logo {
    color: white;
    position: absolute;
    top: 21px;
    left: 5px;
    display: none;
  }
  
  .head {
    margin: 10px 20px;
  }
  
  .left-nav {
    display: inline;
    float: right;
  }
  
  .light {
    margin: 20px 4px;
    cursor: pointer;
    padding: 4px;
    background: #011B3A;
    border-radius: 100%;
    box-shadow: 0 0 9px 0px black;
  }
 
  
  .dark {
    margin: 23px 0px;
    cursor: pointer;
  }
  
  .notification {
    margin-block: 23px;
    margin-left: 9px;
    cursor: pointer;
  
  }
  
  .acc {
    padding: 5px;
    background: #257EE0;
    border-radius: 100%;
    margin: 15px 6px;
    margin-right: 100px;
    cursor: pointer;
  }

  

  nav a {
    color: white;
    text-decoration: none;
    margin: 10px 10px;
    position: absolute;
    background: transparent;
    top: 15px;
    right: 57px;
    cursor: pointer;
  }
  
  .exit {
    margin: 22px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .left {
    background: #011B3A;
    width: 322px;
    height: 100vh;
    margin-top: -10px;
    display: inline-flex;
  }
  
  .left ul {
    padding: 1px;
  }
  
  .left ul li {
    list-style: none;
    margin-top: 30px;
  }
  
  .left ul li a {
    font-size: 1rem;
    padding-left: 45px;
    text-decoration: none;
    color: white;
    border-left: 5px solid transparent;
  }
  
  .left ul li img {
    margin-left: 24px;
  }
  
  .left ul li .active {
    border-left: 5px solid green;
    color: #4FC2D9;
  
  }
  
  .left ul li a:hover {
    border-left: 5px solid green;
    color: #4FC2D9;
  }
  
  .left ul li img {
    margin-right: 10px;
    margin-left: -30px;
    position: absolute;
  }
  
  .container {
    display: flex;
  }
  h1{
    color: white;
  }

  h2{
    color: white;
  }
  .textarea{
    background-color: #011B3A;
    color: #ffffff;
  }
  .link{
    color: #1b65be;
    
  }
 .reply{
    color: #4b90e6;
    background-color: transparent; 
    border: 0cm;
 }
 .link{
    text-decoration: underline;
  }
@media(max-width:820px) {

.left {
  width: 550px;
}
}
@media(max-width:706px) {

.left {
  width: 60px;
  height: 310vh;
}
 }
 @media(max-width:494px) {
 
nav a {
display: none;
}
nav{
height: 55px;
}

.acc {
margin-right: -17px;
}
.notification{
margin-left: 4px;
}
.exit{
margin-right: 5px;
}

.light{
margin: 23px 5px;
}

.left ul li img {
margin-left: 15px;
}

.head {
margin: 16px ;
width: 105px;
}

.exit {
margin-right: 10px;
}
 }