nav{
    background: #011E40;
    width: 100%;
    text-align: center;
    height: 80px;
}
.heading{
    margin-top: 10px;
}
body{
    background: #050E25;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.bottom img{
    margin-top: 15%;
}

button {
        padding: 10px 45px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

   h2{
    font-size: medium;
   }
   h4{
    font-size: xx-small;
    color: #007bff;
   }